# Variables that must be filled in:
account_sid = ""
auth_token = ""
twilio_phone = ""
phone = ""
github_token = ""
github_username = ""
github_project_name = ""

# Variables that are filled in automatically when the application starts:
github_project = ""
columns = {}
backlog_column = ""
done_column = ""