# Variables that must be filled in:
ACCOUNT_SID = ""
AUTH_TOKEN = ""
TWILIO_PHONE = ""
PHONE = ""
GITHUB_TOKEN = ""
GITHUB_USERNAME = ""
GITHUB_PROJECT_NAME = ""

# Variables that are filled in automatically when the application starts:
GITHUB_PROJECT = ""
COLUMNS = {}
BACKLOG_COLUMN = ""
DONE_COLUMN = ""